

@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";


body {
  scroll-behavior: smooth;
}

.scroll {
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.robbot {
  font-family: "Roboto", sans-serif;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

/* Custom dialog tweaks if needed */
.p-drawer {
  background-color: rgb(236, 241, 241) !important;
}