<section [ngClass]="[stylebox(), `w-full p-4 h-72      rounded-3xl gap-2  flex scroll overflow-y-auto `]">
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    <div [ngClass]="[classes(), `cursor-pointer h-20     hover:bg-gray-300 flex items-center rounded-lg justify-between gap-2  py-3  px-3 bg-gray-200`  ]">
      <div class="flex items-center gap-2">

          @if(leftIcon()){
              <div class="w-10 h-10 flex justify-center items-center text-2xl font-semibold bg-blue-400 rounded-lg">M</div>
            }
            <div class="flex flex-col gap-1  justify-between  " >
                <h5 class="text-md font-medium ">Web mockup</h5>
                <div class="flex gap-2 font-medium text-gray-500">
                    <span class="text-sm font-light ">Yellow brand</span>
                    <div class="flex gap-2   ">
                            @if(footerTextIcon()){
                                <i class="pi pi-calendar text-sm "></i>
                            }
                        
                        <span class="text-sm ">Due in 3 days</span>
                    </div>
                </div>
            </div>
        </div> 
        @if(rightIcon()){

            <i class="pi pi-eye text-sm"></i>
        } 
    </div>
    
    
    
    </section>